# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# network
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# net/de4x5.c
# prefer those over tulip
1011 0002
1011 0009
1011 0014
1011 0019
	i	de4x5
	i	tulip

# net/tulip.c
10d9 0512
10d9 0531
115d 0003
11ad 0002
11ad c115
11f6 9881
125b 1400
1317 0981
8086 0039
	i	tulip

# net/ne.c
PNP 80d6
	m	ne
		options ne		io=<io0> irq=<irq0>


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# scsi
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# scsi/ncr53c8xx.c
# scsi/sym53c8xx.c
# which one to prefer???
1000 0001+6
1000 000a+4
1000 000f
1000 0012
1000 008f
	i	ncr53c8xx
	i	sym53c8xx

# scsi/aha152x.c
ADP 1505
	m	aha152x
		options aha152x		aha152x=<io0>,<irq0>
	i	aha152x|aha152x=<io0>,<irq0>


# block/cpqarray.c
0e11 ae10
1000 0010 0e11 0000+10000
1011 0046
	i	cpqarray


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# graphics cards
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# 3dfx voodoo banshee & voodoo 3
121a 0003
121a 0005
	x	SVGA|glide_v3|mesa|mesa3dfx|dev3dfx|glidesdk

# ati rage pro
1002 4742
1002 4744
1002 4749
1002 4750+2
1002 4c42
	x	MACH64|glx|mesa

1002 4c4d+2
1002 4c52+2
	x	SVGA

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# displays/monitors
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

IVM 1901
	d	1600x1200|50-160|25-115|230

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# mice
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

LGI   800c
	p	mouseman|mman

PNP   0f0a
PNP   0f0c
s0200 0003
	p	microsoft|ms

PNP   0f0e
s0200 0002
	p	ps/2|ps2

# USB mice
s0200 0001
	p	imps/2|ps2

