# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# some pci sample data
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

1000	Symbios Logic Inc. (formerly NCR)
	000f	53c875

1011	Digital Equipment Corporation
	0002	DECchip 21040 [Tulip]

121a	3Dfx Interactive, Inc.
	0003	Voodoo Banshee
	0005	Voodoo 3

1002	ATI Technologies Inc
	4742	3D Rage Pro AGP 1X/2X

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# monitor ids
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

IVM	Idek Iiyama North America, Inc.
	1901	Iiyama A901HT, VisionMaster Pro 450

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# other EISA ids (e.g. ISA-PnP)
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

ADP	Adaptec
	1505.00100	Adaptec AVA-1505AE

CTL	Creative Technology Ltd.
	009e.00401	Creative SB AWE64 Gold

LGI	Logitech
	800c	Logitech MouseMan

PNP	PnP
	0f0a	Microsoft Mouse
	0f0c	MS-Compatible Serial Mouse
	0f0e	Generic PS/2 Mouse
	80d6.00200	NE2000 Compatible

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# special ids are used internally in libhd
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# generic mice
s0200	Unknown
	0001	Generic USB Mouse
	0002	Generic PS/2 Mouse
	0003	MS-Compatible Serial Mouse

# pc keyboards
# ids > 1 are keyboard ids as read via keyboard id command
s0201	Unknown
	0000	PC Keyboard
	0001	PS/2 Keyboard
	41ab	MF2 Keyboard

